*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.borderTop{
    border-top:30px solid red;
}

.navbar{
    width: 100%;
    margin-top: 18px;
    display: flex;
    cursor: pointer;
    top:0;
}


.logo img{
    height: 60px;
    margin-left: 40px;
}

.nav-list{
   /* margin-left: 35px; */
   margin-left: auto;
}

.nav-list li{
    list-style-type: none;
    float: right;
}

.nav-list li a{
    display: block;
    text-align: center;
    padding:12px 40px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    margin-right: 10px;
}

.nav-list li a:hover{
    background-color: red;
    color: #fff;
    transform: .3s;
}

.contact{
    background-color: rgb(19, 240, 137);
    color:#fff;
}

. speech{
    background-image: linear-gradient(-45deg,#cfef0d 0%, #cfef0d 100%);
}

.speech img{
    width: 100%;
    height: auto;
    
}


.content{
    margin: 30px;
    text-align: center;
    background-image: linear-gradient(120deg, rgb(0, 0, 0));
}

.small{
    text-transform:uppercase;
    font-size: 16px;
}

.large{
    margin: 10px 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
}

.para{
    margin:10px 60px;
    font-size:20px;
}

.books img{
    width: 50%;
    height: auto;
}

.column{
    float: left;
    width: 10%;
    padding: 10px;
    margin: 10px 30px;
}

.column img{
   height: 60px;
   width: 60px;
}

.second{
    margin-top: 140px;
    display: flex;
    height: auto;
}

.cont{
    width: 50%;
    /* margin-top: 140px; */
    margin-left: 5px;
    background-color:red;
    color: #fff;
  
   clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
}

.para1{
    text-transform: uppercase;
    margin-left: 40px;
    padding: 30px ;
    font-weight: 500;
}

.large-heading{
    text-transform: uppercase;
    margin-left:40px;
    padding:0 10px;
    font-size: 30px;
}


.main-content{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}


.videoPart{
    width: 50%;
    margin: 10px 0;
    background-color: rgb(206, 203, 203);
    padding: 10px;
}

.v{
    margin-left: -82px;
    margin-top: 35px;
}
